/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 oct 2025, 14:25:15
    Author     : admc0
*/

.navbar {
    display: flex;                 /* 1. Activa Flexbox */
    justify-content: space-between; /* 2. ¡LA REGLA MÁGICA! */
    /* Empuja el 1º hijo a la izq, el último a la der, */
    /* y centra el resto (la búsqueda). */
    align-items: center;           /* 3. Centra todo verticalmente */

    background-color: #222831;     /* Tu fondo azul oscuro */
    padding: 10px 20px;            /* Espacio (padding) arriba/abajo y a los lados */
    font-family: Arial, sans-serif;
    overflow: hidden;
}


.navbar-logo img {
    height: 40px;
    width: auto;
    vertical-align: middle;
    border-radius: 50%;
}

.toast-icon{

    width: 24px;
    height: 24px;
    flex-shrink: 0;
    object-fit: contain;
    border-radius: 50%;

}

.navbar-logo:hover {
    opacity: 0.8;
}


.navbar-search {
    display: flex;
    padding-left: 200px;
}
.navbar-search input[type=text] {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 3px 0 0 3px;
    width: 300px;
}
.navbar-search button {
    padding: 8px 12px;
    background: #FF2C2C;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}
.navbar-search button:hover {
    background: #FA5053;
}


.navbar-usuario {
    display: flex;
    align-items: center;
}
.navbar-usuario a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    white-space: nowrap;
}
.navbar-usuario a:hover {
    background-color: #393e46;
    border-radius: 3px;
}

.btn-color{

    background: #FF2C2C;
    color: white

}

.btn-color:hover{

    background-color: #FA5053;
    color: white

}

.poster-accion {
    cursor: pointer;              /* Cambia el cursor a una mano */
    transition: transform 0.3s ease, filter 0.3s ease; /* Suaviza la animación */
}

.poster-accion:hover {
    transform: scale(1.03);       /* Agranda la imagen un 3% */
    filter: brightness(1.1);      /* Aumenta el brillo ligeramente */
}
